body {
    background-color: cadetblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;
}

Main {
    width: 900px;
    border:2px solid black;
    text-align: center; 
    padding: 30px;
    margin: auto; 
    background-color:white;

}